1.	(10 points) Read the two datasets and store them to two variables, one as the training and the other as the testing dataset. Show the statistical information for each dataset.

In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('adult.data', header = None)
data.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']
testData = pd.read_csv('adult.test', header = None)
testData.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']



testData

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16276,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
16277,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K.
16278,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
16279,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
16280,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [2]:
data.shape

(32561, 15)

In [3]:
testData.shape

(16281, 15)

In [4]:
print(data.keys())

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [5]:
testData['income'] = testData['income'].str[:-1]

2.	(20 points) Use only the numeric columns as the input features and the last column (i.e., income level) as the output label. Build a perceptron classifier using scikit-learn package to train the model and print the respective error rate of the training dataset and the testing dataset. In the testing dataset, for the instances with income >50K, how many are incorrect prediction and for the instances with income <=50K, how many are incorrect prediction?

In [6]:
from sklearn.linear_model import Perceptron
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

#x = data.loc['workclass'], data['num'], data['capital-gain'], data['capital-loss']
x_train = data[['age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week', 'fnlwgt']]
x_test = testData[['age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week', 'fnlwgt']]
y_train = data['income']
y_test = testData['income']

print("x_train shape: {}".format(x_train.shape))
print("x_test shape: {}".format(x_test.shape))
print("y_train shape: {}".format(y_train.shape))
print("y_test shape: {}".format(y_test.shape))

x_train shape: (32561, 6)
x_test shape: (16281, 6)
y_train shape: (32561,)
y_test shape: (16281,)

In [7]:
per_clf = Perceptron(random_state=0)
per_clf.fit(x_train, y_train)
per_clf.score(x_train, y_train) #training accuracy

0.2408095574460244

In [8]:
trainAccr = per_clf.score(x_train, y_train)
testAccr = per_clf.score(x_test, y_test)

trainError = (1 - trainAccr)
testError = (1 - testAccr)

print("The training accuracy is: ", trainAccr)
print("The testing accuracy is: ", testAccr)
print("The training error rate is: ", trainError)
print("The testing error rate is: ", testError)

The training accuracy is:  0.2408095574460244
The testing accuracy is:  0.23622627602727106
The training error rate is:  0.7591904425539756
The testing error rate is:  0.7637737239727289

In [9]:
pred=per_clf.predict(x_test)
pred

array([' >50K', ' >50K', ' >50K', ..., ' >50K', ' >50K', ' >50K'],
      dtype='<U6')

In [10]:
y_test

0         <=50K
1         <=50K
2          >50K
3          >50K
4         <=50K
          ...
16276     <=50K
16277     <=50K
16278     <=50K
16279     <=50K
16280      >50K
Name: income, Length: 16281, dtype: object

3. (20 points) Drop the column ‘hours-per-week’ from the original training and testing datasets at Step 1 to become the new training and testing data, then use all the numeric columns in the new datasets as the input features and the last column (i.e., income level) as the output label. Build another perceptron classifier to train the model and print the respective error rate of the training dataset and the testing dataset. In the testing dataset, for the instances with income >50K, how many are incorrect prediction and for the instances with income <=50K, how many are incorrect prediction?

In [11]:
x_train = data[['age', 'education-num', 'capital-gain', 'capital-loss', 'fnlwgt']]
x_test = testData[['age', 'education-num', 'capital-gain', 'capital-loss', 'fnlwgt']]
y_train = data['income']
y_test = testData['income']

print("x_train shape: {}".format(x_train.shape))
print("x_test shape: {}".format(x_test.shape))
print("y_train shape: {}".format(y_train.shape))
print("y_test shape: {}".format(y_test.shape))

x_train shape: (32561, 5)
x_test shape: (16281, 5)
y_train shape: (32561,)
y_test shape: (16281,)

In [12]:
per_clf = Perceptron(random_state=0)
per_clf.fit(x_train, y_train)
per_clf.score(x_train, y_train)

0.7920518411596695

In [13]:
trainAccr = per_clf.score(x_train, y_train)
testAccr = per_clf.score(x_test, y_test)

trainError = (1 - trainAccr)
testError = (1 - testAccr)

print("The training accuracy is: ", trainAccr)
print("The testing accuracy is: ", testAccr)
print("The training error rate is: ", trainError)
print("The testing error rate is: ", testError)

The training accuracy is:  0.7920518411596695
The testing accuracy is:  0.7934402063755298
The training error rate is:  0.20794815884033047
The testing error rate is:  0.2065597936244702

In [25]:
dfTest = pd.DataFrame(y_test, columns = ['income'])

cond = (dfTest['income'] == " <=50K")
cond2 = (dfTest['income'] == " >50K")

trueCond = dfTest[cond]
trueCond2 = dfTest[cond2]

dfPred = pd.DataFrame(pred, columns = ['income'])
result = dfPred[cond]
result2 = dfPred[cond2]
print("Number of incorrect postitions of <=50K: ",(trueCond['income'] == result['income']).count())
print("Number of correct postitions of >50K: ",(trueCond2['income'] == result2['income']).count())

Number of incorrect postitions of <=50K:  12435
Number of correct postitions of >50K:  3846

4.	(20 points) Change the values in the column ‘fnlwgt’ to their natural log value, change the values>0 in the two columns 'capital-gain' and 'capital-loss' to their natural log value from the original training and testing datasets at Step 1 to become the new training and testing data, then use all the numeric columns in the new datasets as the input features and the last column (i.e., income level) as the output label. Build another perceptron classifier to train the model and print the respective error rate of the training dataset and the testing dataset. In the testing dataset, for the instances with income >50K, how many are incorrect prediction and for the instances with income <=50K, how many are incorrect prediction?

In [15]:
data2 = data
testData2 = testData
data2['fnlwgt'] = np.log(data2['fnlwgt'])
testData2['fnlwgt'] = np.log(testData2['fnlwgt'])

capGainCond = testData2['capital-gain'] > 0
capLossCond = testData2['capital-loss'] > 0
capGainCond2 = data2['capital-gain'] > 0
capLossCond2 = data2['capital-loss'] > 0

data2.loc[capGainCond2,'capital-gain'] = np.log(data2.loc[capGainCond2,'capital-gain'])
data2.loc[capLossCond2,'capital-loss'] = np.log(data2.loc[capLossCond2,'capital-loss'])
testData2.loc[capGainCond,'capital-gain'] = np.log(testData2.loc[capGainCond,'capital-gain'])
testData2.loc[capLossCond,'capital-loss'] = np.log(testData2.loc[capLossCond,'capital-loss'])

testData2

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,12.331833,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0.000000,0.0,40,United-States,<=50K
1,38,Private,11.405496,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.000000,0.0,50,United-States,<=50K
2,28,Local-gov,12.727693,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0.000000,0.0,40,United-States,>50K
3,44,Private,11.984946,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,8.947416,0.0,40,United-States,>50K
4,18,?,11.547298,Some-college,10,Never-married,?,Own-child,White,Female,0.000000,0.0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16276,39,Private,12.280340,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0.000000,0.0,36,United-States,<=50K
16277,64,?,12.680451,HS-grad,9,Widowed,?,Other-relative,Black,Male,0.000000,0.0,40,United-States,<=50K
16278,38,Private,12.834636,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.000000,0.0,50,United-States,<=50K
16279,44,Private,11.337274,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,8.604288,0.0,40,United-States,<=50K
16280,35,Self-emp-inc,12.112575,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.000000,0.0,60,United-States,>50K

In [16]:
x_train = data2[['age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week', 'fnlwgt']]
x_test = testData2[['age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week', 'fnlwgt']]
y_train = data2['income']
y_test = testData2['income']

print("x_train shape: {}".format(x_train.shape))
print("x_test shape: {}".format(x_test.shape))
print("y_train shape: {}".format(y_train.shape))
print("y_test shape: {}".format(y_test.shape))

x_train shape: (32561, 6)
x_test shape: (16281, 6)
y_train shape: (32561,)
y_test shape: (16281,)

In [17]:
per_clf = Perceptron(random_state=0)
per_clf.fit(x_train, y_train)
per_clf.score(x_train, y_train)

0.7824084026903351

In [18]:
trainAccr = per_clf.score(x_train, y_train)
testAccr = per_clf.score(x_test, y_test)

trainError = (1 - trainAccr)
testError = (1 - testAccr)

print("The training accuracy is: ", trainAccr)
print("The testing accuracy is: ", testAccr)
print("The training error rate is: ", trainError)
print("The testing error rate is: ", testError)

The training accuracy is:  0.7824084026903351
The testing accuracy is:  0.7858853878754376
The training error rate is:  0.21759159730966493
The testing error rate is:  0.2141146121245624

In [19]:
dfTest = pd.DataFrame(y_test, columns = ['income'])

cond = (dfTest['income'] == " <=50K")
cond2 = (dfTest['income'] == " >50K")

trueCond = dfTest[cond]
trueCond2 = dfTest[cond2]

dfPred = pd.DataFrame(pred, columns = ['income'])
result = dfPred[cond]
result2 = dfPred[cond2]
print("Number of incorrect postitions of <=50K: ",(trueCond['income'] == result['income']).count())
print("Number of correct postitions of >50K: ",(trueCond2['income'] == result2['income']).count())

Number of incorrect postitions of <=50K:  False    12435
Name: income, dtype: int64
Number of correct postitions of >50K:  True    3846
Name: income, dtype: int64

5.	(20 points) Drop the column ‘hours-per-week’ from the training and testing datasets at Step 4 to become the new training and testing data, then use all the numeric columns in the new datasets as the input features and the last column (i.e., income level) as the output label. Build another perceptron classifier to train the model and print the respective error rate of the training dataset and the testing dataset. In the testing dataset, for the instances with income >50K, how many are incorrect prediction and for the instances with income <=50K, how many are incorrect prediction?

In [20]:
x_train = data2[['age', 'education-num', 'capital-gain', 'capital-loss', 'fnlwgt']]
x_test = testData2[['age', 'education-num', 'capital-gain', 'capital-loss', 'fnlwgt']]
y_train = data2['income']
y_test = testData2['income']

print("x_train shape: {}".format(x_train.shape))
print("x_test shape: {}".format(x_test.shape))
print("y_train shape: {}".format(y_train.shape))
print("y_test shape: {}".format(y_test.shape))

x_train shape: (32561, 5)
x_test shape: (16281, 5)
y_train shape: (32561,)
y_test shape: (16281,)

In [21]:
per_clf = Perceptron(random_state=0)
per_clf.fit(x_train, y_train)
per_clf.score(x_train, y_train)

0.8041214950400786

In [22]:
pred=per_clf.predict(x_test)
pred

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' >50K', ' <=50K'],
      dtype='<U6')

In [26]:
dfTest = pd.DataFrame(y_test, columns = ['income'])

cond = (dfTest['income'] == " <=50K")
cond2 = (dfTest['income'] == " >50K")

trueCond = dfTest[cond]
trueCond2 = dfTest[cond2]

dfPred = pd.DataFrame(pred, columns = ['income'])
result = dfPred[cond]
result2 = dfPred[cond2]
print("Number of incorrect postitions of <=50K: ",(trueCond['income'] == result['income']).count())
print("Number of correct postitions of >50K: ",(trueCond2['income'] == result2['income']).count()

Number of incorrect postitions of <=50K:  12435
Number of correct postitions of >50K:  3846

6. (10 points) What do you observe from the comparison of the results between Step 2 and Step 4 and the comparison of the results between Step 3 and Step 5?

The accuracy for step 4 is extremely higher than the accuracy for step 2. However there is an opposite affect for steps 3 and 5. The accuracy barely increases (Barely a 1% increase)